*.3dm
a
*.rpt
*.exception
*.job
*.com
*.dat
*.inp
*.ipm
*.log
*.msg
*.odb
*.prt
*.sta
*.stl
*.xls
*.xlsx
*.png
*.x_t
*.jnl
*.cae
*.pdf
*.bdf
*.stp
*.abq
*.7
*.pac
*.sel
.idea
fort.7
__pycache__
/src/Lattice.egg-info
/saved_lattice_file/HybridCellForRelativeDensity
/saved_lattice_file/RelativeDensity
/Saved_Lattice/*.json
*.pkl
*.stlbak
*.msh
*.egg-info/
*.egg
